<launch>

    <node pkg="tf" type="static_transform_publisher" name="tf_90_deg"
          args="0 0 0 $0 0 0 base_link laser 10"/>

    <arg name="ns" default="/"/>
    <arg name="fcu_url" default="/dev/ttyACM0:115200"/>
    <arg name="gcs_url" default="" />
    <arg name="tgt_system" default="1" />
    <arg name="tgt_component" default="1" />

    <group ns="$(arg ns)">
        <include file="$(find mavros)/launch/px4.launch">
            <!-- Need to change the config file to get the tf topic and get local position in terms of local origin -->
            <arg name="fcu_url" value="$(arg fcu_url)" />
            <arg name="gcs_url" value="$(arg gcs_url)" />
            <arg name="tgt_system" value="$(arg tgt_system)" />
            <arg name="tgt_component" value="$(arg tgt_component)" />
        </include>
    </group>

    <node name="laser2pc" pkg="laser2pc" type="laser2pc" />

    <include file="$(find rplidar_ros)/launch/rplidar.launch"/>
</launch>
