<?xml version="1.0"?>

<launch>
    <!-- RTAB-map Node-->
    <param name="dynamic_time_stamp"        command="$(find my_package)/launch/timestamp.sh"/>
    <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
        <arg name="rtabmap_args"		        value="--delete_db_on_start"/>
        <arg name="depth_topic"                 value= "/front/aligned_depth_to_color/image_raw"/>
        <arg name="rgb_topic"                   value= "/front/color/image_raw"/>
        <arg name="camera_info_topic"           value= "/front/color/camera_info"/>
        <arg name="approx_sync"                 value="true"/>
        <arg name="rtabmapviz"                  value="false"/>
        <arg name="use_dynamic_name"            value="true"/>
        <arg name="frame_id"                    value="front_link"/>
    </include>
</launch>
